<h2 mat-dialog-title>Change Notice</h2>
<mat-dialog-content [formGroup]="noticeBoardForm">
  <div>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Content</mat-label>
      <textarea matInput formControlName="content"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()">Save</button>
</mat-dialog-actions>


