<h1 id="tableLabel">Notice Board</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!noticeBoards"><em>Loading... Please refresh once the ASP.NET backend has started.</em></p>
<!--<button (click)="openAddNoticeModal()">Add New Item</button>-->
<button mat-button (click)="openAddNoticeModal()">Add New Item</button>

<table *ngIf="noticeBoards">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Create Date</th>
      <th>Update Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let noticeBoard of noticeBoards">
      <td>{{ noticeBoard.title }}</td>
      <td>{{ noticeBoard.content }}</td>
      <td>{{ noticeBoard.createDate }}</td>
      <td>{{ noticeBoard.updateDate }}</td>
    </tr>
  </tbody>
</table>
