<div id="noticeBoardsMain">
  <div class="header">
    <h1 id="tableLabel">Simple Info Board - built with ASP.NET CORE and Angular</h1> 
  </div>
  <div class="newItemDiv">
    <button mat-button (click)="openAddNoticeModal()">Add New Info</button>
  </div>
  <div class="searchNotices">
    <input type="text" #searchInput placeholder="Search [min 3 characters + Enter]" (keydown)="handleKeyDown($event)" />
  </div>
  <div class="contentDiv">
    <div class="notice-board-container">
      <p *ngIf="!noticeBoards"><em>Loading... Please refresh once the ASP.NET backend has started.</em></p>
      <div *ngFor="let noticeBoard of filteredNoticeBoards" class="notice-board-item">
        <div class="noticeBoardNav"><span class="spanChange" (click)="openChangeNoticeModal(noticeBoard)">change</span> <span class="delimiter"></span> <span class="spanRemove" (click)="openDeleteNoticeModal(noticeBoard.id)">remove</span></div>
        <div class="title">{{ noticeBoard.title }}</div>
        <div class="imageUrl" *ngIf="noticeBoard.imageUrl">
          <img [src]="'https://localhost:7225/images/' + noticeBoard.imageUrl" [alt]="'image for ' + noticeBoard.title" />
        </div>
        <div class="content">{{ noticeBoard.content }}</div>
        <div class="create-date">Created: {{ noticeBoard.createDate | date:'dd.MM.yy HH:mm' }}</div>
        <div class="update-date">Updated: {{ noticeBoard.updateDate | date:'dd.MM.yy HH:mm' }}</div>
      </div>
    </div>
  </div>
  <div class="footer"><a href="mailto:arie.ataev@gmail.com">Arie Ataev-Lanzman</a>, 054-5642009</div>
</div>
