:host {
  max-width: 1280px;
  text-align: center;
  background-color: red;
}

.searchNotices input:focus {
  outline: none;
  box-shadow: none;
  border-color: initial; 
}

.content {
  overflow-y: auto;
  max-height: 80px;
}

.searchNotices input {
  width: 70%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.newItemDiv button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

  .newItemDiv button:hover {
    background-color: #0056b3;
  }

.imageUrl img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#noticeBoardsMain {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80%;
  margin: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif, Arial;
  font-size: 14px;
}

.title,
.content,
.create-date,
.update-date {
  text-align: left;
}

.noticeBoardNav {
  text-align: right;
}

.delimiter {
  border-left: 2px solid #ccc;
  margin-left: 3px;
  margin-right: 3px;
}

.spanRemove:hover,
.spanChange:hover {
  text-decoration: underline;
}

.spanRemove,
.spanChange {
  color: #0000ff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.newItemDiv {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.header {
  flex: 0 0 auto;
  text-align: left;
  border-bottom: 1px solid #000;
  color: #666666;
}

.contentDiv {
  flex: 1 1 auto;
  overflow-y: auto;
  padding-bottom: 10px;
}

.footer {
  flex: 0 0 auto;
  text-align: right;
  border-top: 1px solid #000;
  font-size: 12px;
  margin-top: 10px;
  padding-bottom: 10px;
}

  .footer a {
    text-decoration: none;
  }

    .footer a:hover {
      text-decoration: underline;
    }

.notice-board-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.notice-board-item {
  border: 1px solid #000;
  padding: 16px;
  flex: 1 1 calc(25% - 32px); /* 4 items per row */
  box-sizing: border-box;
}

  .notice-board-item .title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 17px;
    color: #777777;
    margin-bottom: 3px;
  }

  .notice-board-item .content {
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px dashed #777;
  }

  .notice-board-item .create-date,
  .notice-board-item .update-date {
    margin-top: 3px;
    color: #666;
    font-size: 13px;
  }

@media (max-width: 1024px) {
  .notice-board-item {
    flex: 1 1 calc(33.33% - 32px); /* 3 items per row */
  }
}

@media (max-width: 768px) {
  .notice-board-item {
    flex: 1 1 calc(50% - 32px); /* 2 items per row */
  }
}

@media (max-width: 480px) {
  .notice-board-item {
    flex: 1 1 100%; /* 1 item per row */
  }
}
